<header class="business-header">
  <div class="jumbotron" id="mainHeader">
    <div class="container-fluid" id="headerContent">
      <h2 class ="header-text" id="headerLogoText"></h2>
      <img class="cityHackerLogo" src="/media/images/ClearLogo.png" id="logoJumbotron">
      <div class="row" id="doMore">
        <div class="col-sm-12">
          <h3 class="doMoreText">
          </h3>
        </div>
      </div>
    </div>
  </div>
</header>