    <ul id="musician-list">  
    {{#each model as |musicin|}}
        <li class="completed">
            <input type="checkbox" class="toggle">
            <label>{{musician.title}}</label>
        </li>
    {{/each}}
</ul>